@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-saffron-orange via-white to-emerald-green;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 4, 9, 20; /* #040914 */
  --background-end-rgb: 4, 9, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
